<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Michael's Personal Site</title>
    <link rel="stylesheet" href="static/styles.css">
  </head>

  <body>
    <table cellspacing="20">
      <tr>
        <td><img src="static/profile-pic.png" alt="michael profile picture"></td>
        <td><h1>Michael Rodgers</h1>
        <p><em>Founder and CTO of <strong><a href="https://dev.1mrkt.to/">1mrkt</a></strong>.</em></p>
        <p>I am a Cloud and Web Developer. I ❤️ coffee and brew my own beers.</p></td>
      </tr>
    </table>
    <hr>
    <h3>Certificates</h3>
    <ul>
      <li>Docker</li>
      <li>AWS</li>
    </ul>
    <hr>
    <h3>Work Experience</h3>
    <table cellspacing="10">
      <thead>
        <tr>
          <th>Dates</th>
          <th>Work</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2010-2014</td>
          <td>Did some uni</td>
        </tr>
        <tr>
          <td>2014-16</td>
          <td>Served the Welsh some pints</td>
        </tr>
        <tr>
            <td>2016-2017</td>
            <td>Almost died at the National Health Service</td>
        </tr>
        <tr>
            <td>2018</td>
            <td>Moved to Canada</td>
        </tr>
        <tr>
            <td>2019-2022</td>
            <td>Working at NUVO</td>
          </tr>
      </tbody>
    </table>
    <hr>
    <h3>Skills</h3>
    <table cellspacing="10">
      <tr>
        <td>Infrastructure Deployments</td>
        <td>⭐️⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Web Development</td>
        <td>⭐️⭐️⭐️⭐️</td>
      </tr>
       <tr>
        <td>Programming</td>
        <td>⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Photography</td>
        <td>⭐️⭐️⭐️</td>
      </tr>
    </table>
    <hr>
    <a href="hobbies.html">My Hobbies</a>
    <a href="contact-me.html">Contact Me</a>
  </body>
</html>
